@{
    ViewData["Title"] = "Pay";
    var Now = DateTime.Now.ToUniversalTime();
    var ExpireTime = ViewData.ContainsKey("ExpireTime") ? Convert.ToDateTime(ViewData["ExpireTime"]).ToUniversalTime() : Now;
}
@using TokenPay.Extensions
@using TokenPay.Models.EthModel;
@model TokenPay.Domains.TokenOrders
@inject List<EVMChain> Chain
@inject IConfiguration Configuration

<section class="container-fluid">
    <div class="container d-grid gap-3 mx-auto my-4" style="max-width: 55rem;">
        <div class="row card rounded-0 border-0 shadow-sm">
            <div class="card-header border-0 d-flex justify-content-between align-items-center p-4"
                 style="background-color: #F9FAFD;">
                <div>
                    <h2 class="card-title fs-4">Send @Model.Currency.ToCurrency(Chain, true) on the @Model.Currency.ToBlockchainEnglishName(Chain) network</h2>
                    <p class="card-text text-secondary small">
                        Open your encrypted wallet, scan the QR code, or copy the @Model.Currency.ToCurrency(Chain, true) address below to make a payment.
                    </p>
                </div>
                <div class="ms-2" id="countdown-circle-progress"
                     @* PLZ MAKE SURE this key in the configuration has been configured correctly. *@
                     data-total-seconds="@Configuration["ExpireTime"]"
                     @*
                     The order will expire when the creation time of the order plus the configured expiration time is greater than the current time.
                     So, I will calculate the remaining seconds for the order countdown here: f(x) = Second(Creation + Expiration - Now)
                     *@
                     data-remain-seconds="@((Model.CreateTime.AddSeconds(Configuration.GetValue("ExpireTime", 600)) - DateTime.Now).TotalSeconds)"
                     data-redirect-url="@Model.RedirectUrl"
                     data-order-id="@Model.Id">
                </div>
            </div>

            <div class="progress rounded-0" style="height: 0.25rem;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     id="countdown-progress-bar"
                     style="width: 100%"
                     aria-valuenow="100"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>

            <div class="card-body border-0 p-4">
                <div class="alert alert-light small text-secondary d-flex" role="alert">
                    <img src="~/images/info.svg" alt="Payment info" height="20" class="me-2"/>
                    Only send @Model.Currency.ToCurrency(Chain, true) to this address from the @Model.Currency.ToBlockchainEnglishName(Chain) network.
                    Do not send @Model.Currency.ToCurrency(Chain, true) from other networks,
                    as doing so may result in loss of funds.
                </div>
                <div class="text-center py-5">
                    <div class="d-inline-block p-2 shadow-sm">
                        <img src="data:image/png;base64,@ViewData["QrCode"]" alt="Wallet address" style="height: 15rem; width: 15rem;">
                    </div>
                </div>
            </div>

            <div class="card-footer bg-white border-0 p-4">
                <h4 class="card-title text-secondary fs-6 px-2">@Model.Currency.ToCurrency(Chain) Address</h4>
                <div class="input-group rounded-start-3 shadow-sm">
                    <input id="address" type="text"
                           class="form-control form-control-lg bg-white border-0 fs-6"
                           value="@Model.ToAddress"
                           placeholder="@Model.Currency.ToCurrency(Chain) Address"
                           aria-label="@Model.Currency.ToCurrency(Chain) Address"
                           readonly>
                    <button type="button" class="btn btn-primary btn-clipboard"
                            data-clipboard-text="@Model.ToAddress"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title=""
                            data-bs-original-title="Copy to clipboard">
                        Copy
                    </button>
                </div>

                <h4 class="card-title text-secondary fs-6 px-2 mt-4">Total amount</h4>
                <div class="input-group rounded-start-3 shadow-sm">
                    <input id="amount" type="text"
                           class="form-control form-control-lg bg-white border-0 fs-6"
                           value="@Model.Amount @Model.Currency.ToCurrency(Chain)"
                           placeholder="Total amount"
                           aria-label="Total amount"
                           readonly>
                    <button type="button" class="btn btn-primary btn-clipboard"
                            data-clipboard-text="@Model.Amount"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title=""
                            data-bs-original-title="Copy to clipboard">
                        Copy
                    </button>
                </div>
            </div>
        </div>
        <footer class="row row-cols-1 mt-4 justify-content-center" style="gap: 1rem;">
            <button type="button" class="col btn btn-outline-danger w-auto"
                    data-bs-toggle="modal"
                    data-bs-target="#confirm-cancel-order-model">
                Cancel Payment
            </button>
            <a href="@Model.RedirectUrl" class="col btn btn-outline-primary w-auto">
                Back to my orders
            </a>
        </footer>
    </div>
</section>

<div class="modal fade" id="confirm-cancel-order-model"
     data-bs-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-labelledby="confirm-cancel-order-model-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-cancel-order-model-label">Cancel the payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to cancel the payment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <a asp-action="Cancel" asp-route-id="@Model.Id" class="btn btn-danger">Confirm</a>
            </div>
        </div>
    </div>
</div>
